<p style="color: green"><%= notice %></p>

<h1 class="mb-1 mt-1">Games</h1>
<button class="button button--primary mb-1">
<%= link_to "NEW GAME", new_game_path %>
</button>

<div id="games">
  <% @games.each do |game| %>

    <%= render game %>

    
  <% end %>
</div>




