<p style="color: green"><%= notice %></p>
<%= render "game", game: @game %>

<hr>


<div>
  <%= link_to "Edit this game", edit_game_path(@game), class:"align-text-center" %>
  <br>
  <%= link_to "Back to games", games_path, class:"align-text-center" %>

