.card {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card--image{
      width: 220px;
      margin-top:8px;
      align-items:center;
      justify-self :center;
      justify-content: center;
  }
  
  .card--content
  {
    max-width: 375px;
  }
  