.btn--rating {
    background-color: var(--stone-500);
    border-radius: 4px;
    color:white;
    width: 3.5em;
    height: 1.5em;
    text-align:center;
}
.flex--space__between {
    display: flex;
    justify-content:space-between;
}

.flex--end {
    display: flex;
    justify-content:end;
}

.flex--row {
    display: flex;
    flex-direction: row;
}

.align-text-center{
    display: flex;
    justify-content:center;
}

.summary{
    height: 15em;

}

.width-fit-content{
    width: fit-content;
    border-radius: 0.5em;
}





    