<footer class="footer footer__content">
    <div>
      </br>
      <hr>
      <p>© 2022 - Codeable Critics </p>
      </br>
      <p>Build with ♥ by</p>
      <p>Alex Mamani💻 Enmanuel Chipana💻 </p>
      <p class:"align-text-center"> Gabriel Flores💻</p>
    </div>
</footer>